div:not([className="brandName"]) {
  font-size: 13px;
}

.dropdown-toggle::after {
  display: none;
}

.navBarLinks {
  text-decoration: none;
  color: black;
}

.navbar-nav {
  display: flex;
  align-items: center; /* Vertically center align items */
}

#basic-nav-dropdown {
  color: black;
}

.navBarMarginLeft {
  margin-left: 2rem;
}

.navBarMarginRight {
  margin-right: 2rem;
}
